In [37]:
import pandas as pd

In [39]:
pd.__version__

'2.2.3'

In [41]:
!pwd

/Users/mm/git/data-engineering-zoomcamp/week_1_basic_n_setup/2_docekr_sql

In [93]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows = 100)

In [94]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [95]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [63]:
from sqlalchemy import create_engine

In [97]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.12/site-packages (2.9.10)

In [65]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [67]:
engine.connect()

In [100]:
print(pd.io.sql.get_schema(df, name ="yellow_taxi_driver", con=engine))

CREATE TABLE yellow_taxi_driver (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [101]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator = True, chunksize = 100000 )

In [102]:
df = next(df_iter)

In [103]:
len(df)

100000

In [104]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [105]:
df.head(0).to_sql(name = 'yellow_taxi_driver', con=engine, if_exists = 'replace')

0

In [106]:
%time df.to_sql(name = 'yellow_taxi_driver', con=engine, if_exists = 'append')

CPU times: user 10.6 s, sys: 866 ms, total: 11.5 s
Wall time: 31.9 s

1000

In [107]:
from time import time

In [108]:
while True:
    t_start = time()
    
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name = 'yellow_taxi_driver', con=engine, if_exists = 'append')

    t_end = time()

    print("Another chunk was added ... took %.3f second" % (t_end - t_start))

Another chunk was added ... took 23.483 second
Another chunk was added ... took 22.169 second
Another chunk was added ... took 20.582 second
Another chunk was added ... took 27.905 second
Another chunk was added ... took 24.628 second
Another chunk was added ... took 21.894 second
Another chunk was added ... took 20.878 second
Another chunk was added ... took 25.035 second
Another chunk was added ... took 33.757 second
Another chunk was added ... took 27.157 second
Another chunk was added ... took 29.908 second

/var/folders/tr/9r_y002x5_l9vlxrznz8pt_c0000gn/T/ipykernel_28732/3931907473.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Another chunk was added ... took 28.783 second
Another chunk was added ... took 15.538 second

StopIteration:

In [25]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-03-21 18:55:15--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 143.204.102.43, 143.204.102.120, 143.204.102.231, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|143.204.102.43|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12,04K  --.-KB/s    in 0,001s

2025-03-21 18:55:15 (8,27 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [69]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [71]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [73]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265